*,
*::after,
*::backdrop {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: dodgerblue;
  color: rgb(6, 6, 88);
  font-family: sans-serif;
}

.counter {
  background-color: magenta;
  padding: 2rem;
  max-width: 20rem;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter button {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2rem;
  background-color: dodgerblue;
  border: none;
  color: #fff;
  border-radius: 50%;
}
.counter span {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.counter .date-text {
  color: rgb(6, 6, 88);
}
.counter.date h2,
.counter.date span {
  font-size: 1.4rem;
}
